telcoOffer-flow.json
[{
		"id": "3ba91f54.8baf28",
		"type": "tab",
		"label": "telcoDemo"
	}, {
		"id": "98297af.65de808",
		"type": "watson-conversation-v1",
		"z": "3ba91f54.8baf28",
		"name": "Watson Conversation",
		"workspaceid": "a5c2dfb1-6ff3-4f1d-bc75-84809c65fa94",
		"multiuser": false,
		"context": true,
		"x": 592.7730712890625,
		"y": 337.5764465332031,
		"wires": [["1d3ebb74.73d06d"]]
	}, {
		"id": "dd43492e.b6c51",
		"type": "watson-speech-to-text",
		"z": "3ba91f54.8baf28",
		"name": "",
		"continuous": true,
		"speakerlabels": false,
		"lang": "en-US",
		"langhidden": "en-US",
		"langcustomhidden": "",
		"band": "BroadbandModel",
		"bandhidden": "",
		"password": "36lvsGbkjIxs",
		"x": 508.02313232421875,
		"y": 151.826416015625,
		"wires": [["c63d4ad0.20fb9"]]
	}, {
		"id": "bb6eef87.9a641",
		"type": "watson-text-to-speech",
		"z": "3ba91f54.8baf28",
		"name": "",
		"lang": "en-US",
		"langhidden": "en-US",
		"langcustom": "NoCustomisationSetting",
		"langcustomhidden": "",
		"voice": "en-US_LisaVoice",
		"voicehidden": "en-US_LisaVoice",
		"format": "audio/wav",
		"password": "dM6TeAVZxhqH",
		"x": 808.773193359375,
		"y": 457.9097595214844,
		"wires": [["c57e681d.65d898"]]
	}, {
		"id": "c63d4ad0.20fb9",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "set payload",
		"func": "msg.payload = msg.transcription;\nmsg.params = flow.get('params')||{context:{}};\n\n\n\nmsg.params.context.email = false;\nmsg.params.context.moviecomplete = false;\nmsg.params.context.predictmovie = false;\n\nnode.warn(\"Heard: \\n\" + msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 705.0231323242188,
		"y": 151.826416015625,
		"wires": [["648e0f62.343018"]]
	}, {
		"id": "c57e681d.65d898",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "set payload",
		"func": "msg.payload = msg.speech;\nflow.set('params',msg.params);\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 999.4398193359375,
		"y": 483.9097595214844,
		"wires": [["25d7d241.90af26"]]
	}, {
		"id": "25d7d241.90af26",
		"type": "play audio",
		"z": "3ba91f54.8baf28",
		"name": "",
		"x": 1186.773193359375,
		"y": 483.9097595214844,
		"wires": []
	}, {
		"id": "716dce56.09f9",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "9681-KYGYB",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 307.02313232421875,
		"y": 274.5764465332031,
		"wires": [["ae1597f3.f9ab3"]]
	}, {
		"id": "e7b5526d.291568",
		"type": "watson-conversation-v1",
		"z": "3ba91f54.8baf28",
		"name": "",
		"workspaceid": "59b67fe8-276f-42f9-8ebf-5bea35ff29ac",
		"multiuser": true,
		"context": true,
		"x": 508.1064338684082,
		"y": 1868.2430934906006,
		"wires": [["2405740d.e9b28c"]]
	}, {
		"id": "3d79affd.6bf268",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "hello",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 99.1064338684082,
		"y": 1786.2430934906006,
		"wires": [["613ca7ef.ce232"]]
	}, {
		"id": "a3a3e075.992ae",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "watson",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 99.6064338684082,
		"y": 1823.2430934906006,
		"wires": [["613ca7ef.ce232"]]
	}, {
		"id": "613ca7ef.ce232",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "set user 1",
		"func": "msg.user = '1';\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 270.6064338684082,
		"y": 1822.2430934906006,
		"wires": [["e7b5526d.291568"]]
	}, {
		"id": "352bafc.824d35",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "hello",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 98.1064338684082,
		"y": 1907.2430934906006,
		"wires": [["274dabed.8eb354"]]
	}, {
		"id": "a71ae737.4839d8",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "cics",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 98.6064338684082,
		"y": 1943.2430934906006,
		"wires": [["274dabed.8eb354"]]
	}, {
		"id": "274dabed.8eb354",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "set user 2",
		"func": "msg.user = '2';\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 269.6064338684082,
		"y": 1942.2430934906006,
		"wires": [["e7b5526d.291568"]]
	}, {
		"id": "2405740d.e9b28c",
		"type": "debug",
		"z": "3ba91f54.8baf28",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "payload.output.text",
		"x": 727.1064338684082,
		"y": 1868.2430934906006,
		"wires": []
	}, {
		"id": "4a1a3f2.31bdbc",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "hello",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 275.1064338684082,
		"y": 1689.2430934906006,
		"wires": [["e7b5526d.291568"]]
	}, {
		"id": "d62b86ba.c31828",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "watson",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 275.1064338684082,
		"y": 1725.2430934906006,
		"wires": [["e7b5526d.291568"]]
	}, {
		"id": "aa4f2b55.f74418",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "hello",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 146.6064338684082,
		"y": 2037.2430934906006,
		"wires": [["20b33d39.4613ea"]]
	}, {
		"id": "20b33d39.4613ea",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "reset context",
		"func": "msg.params = {\n    context: {}\n};\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 291.6064338684082,
		"y": 2037.2430934906006,
		"wires": [["e7b5526d.291568"]]
	}, {
		"id": "b16878b.eed7688",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "yes",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 99.6064338684082,
		"y": 1859.2430934906006,
		"wires": [["613ca7ef.ce232"]]
	}, {
		"id": "3f73c950.5b3406",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "yes",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 98.1064338684082,
		"y": 1979.2430934906006,
		"wires": [["274dabed.8eb354"]]
	}, {
		"id": "f950b028.3abde8",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "yes",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 275.1064338684082,
		"y": 1761.2430934906006,
		"wires": [["e7b5526d.291568"]]
	}, {
		"id": "238b8716.e0de3",
		"type": "microphone",
		"z": "3ba91f54.8baf28",
		"name": "",
		"x": 322.2731170654297,
		"y": 152.576416015625,
		"wires": [["dd43492e.b6c51"]]
	}, {
		"id": "bf151f8d.b9b1",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "add context",
		"func": "msg.params = {context:{}};\n\nmsg.params.context.PAYMENTMETHOD = msg.payload.PAYMENTMETHOD;\nmsg.params.context.CHURN = msg.payload.CHURN ;\nmsg.params.context.email = false;\nmsg.params.context.escalate = false;\nmsg.params.context.MONTHLYCHARGES = msg.payload.MONTHLYCHARGES.toString();\nmsg.params.context.PAPERLESSBILLING = msg.payload.PAPERLESSBILLING;\n\nmsg.params.context.GENDER = msg.payload.GENDER;\nmsg.params.context.SENIORCITIZEN = msg.payload.SENIORCITIZEN;\nmsg.params.context.DEPENDENTS = msg.payload.DEPENDENTS;\nmsg.params.context.TENURE = msg.payload.TENURE;\n\nnode.warn(msg.params.context);\nmsg.payload = \"Start Call\";\nmsg.params.context.predictmovie = true;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 723.8564453125,
		"y": 215.24313354492188,
		"wires": [["648e0f62.343018"]]
	}, {
		"id": "1d3ebb74.73d06d",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "Route",
		"func": "\n\nif (msg.payload.output && msg.payload.output.text) {\n    msg.wspeak = msg.payload.output.text.join('<speak version=\"1.0\"><break strength=\"strong\"></break></speak>');\n} else {\n    msg.wspeak = 'No response';\n}\n\n\nmsg.params = {};\nmsg.params.context = msg.payload.context;\n\nmsg.topic = msg.params.context.topic;\n\nmsg.url = \"https://moviepredict.mybluemix.net/predict?GENDER=\" + msg.params.context.GENDER + \"&SENIORCITIZEN=\" + msg.params.context.SENIORCITIZEN + \"&DEPENDENTS=\" + msg.params.context.DEPENDENTS + \"&TENURE=\" + msg.params.context.TENURE + \"&PAPERLESSBILLING=\" + msg.params.context.PAPERLESSBILLING + \"&PAYMENTMETHOD=\" + msg.params.context.PAYMENTMETHOD + \"&MONTHLYCHARGES=\" + msg.params.context.MONTHLYCHARGES;\n\nvar out1 = null;\nvar out2 = null;\nvar out3 = null;\n\nif (msg.params.context.predictmovie)\n    out2 = msg;\nelse\n    out3 = msg;\n\nif (msg.params.context.email) \n   out1 = msg;\n   \nreturn [out1,out2,out3];\n",
		"outputs": "3",
		"noerr": 0,
		"x": 812.939697265625,
		"y": 338.2430725097656,
		"wires": [["38fd739a.c7e504"], ["1ca965e9.a9303a"], ["9ded94a8.6b53c8"]]
	}, {
		"id": "648e0f62.343018",
		"type": "watson-tone-analyzer-v3",
		"z": "3ba91f54.8baf28",
		"name": "Tone Analyzer",
		"tones": "emotion",
		"sentences": "false",
		"contentType": "false",
		"x": 925.5,
		"y": 151.83572387695312,
		"wires": [["40e625bc.f67674"]]
	}, {
		"id": "40e625bc.f67674",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "add context",
		"func": "var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = {emotion: topemotion} ;\n\nnode.warn(\"Detected emotions: \\n\" + JSON.stringify(emotions) + \"\\nAssigned emotion: \"+topemotion);\n\nreturn msg;\n",
		"outputs": 1,
		"noerr": 0,
		"x": 1109.0833129882812,
		"y": 151.75238037109375,
		"wires": [["98297af.65de808"]]
	}, {
		"id": "38fd739a.c7e504",
		"type": "e-mail",
		"z": "3ba91f54.8baf28",
		"server": "smtp.gmail.com",
		"port": "465",
		"secure": true,
		"name": "garrett.rowe@us.ibm.com",
		"dname": "Send Email",
		"x": 1082.5,
		"y": 273.9999694824219,
		"wires": []
	}, {
		"id": "ae1597f3.f9ab3",
		"type": "dashDB in",
		"z": "3ba91f54.8baf28",
		"dashDB": "900e13a9.623f",
		"service": "_ext_",
		"query": "SELECT * FROM DASH107147.TELCO_SUBSCRIBER where CUSTOMERID = ?;",
		"params": "msg.payload",
		"name": "Get Subscriber Data",
		"x": 529.5,
		"y": 215.25,
		"wires": [["bf151f8d.b9b1"]]
	}, {
		"id": "1ca965e9.a9303a",
		"type": "http request",
		"z": "3ba91f54.8baf28",
		"name": "Get Upsell Prediction",
		"method": "GET",
		"ret": "obj",
		"url": "",
		"tls": "",
		"x": 1100.5,
		"y": 338.7500305175781,
		"wires": [["9ded94a8.6b53c8"]]
	}, {
		"id": "9ded94a8.6b53c8",
		"type": "function",
		"z": "3ba91f54.8baf28",
		"name": "add context & escalate",
		"func": "if(msg.params.context.predictmovie)\n    msg.params.context.movie = msg.payload.results[0].Movie;\n\nmsg.payload = msg.wspeak;\nif (msg.params.context.moviecomplete)\n    msg.payload += \" <voice-transformation type='Custom' pitch='+10%' rate='-50%' >\" +msg.params.context.movie + \"</voice-transformation>\";\n\nnode.warn(\"Response: \\n\" + msg.payload)\n\n\nif(msg.params.context.escalate)\n    return [null,msg];\nelse\n    return [msg,null];",
		"outputs": "2",
		"noerr": 0,
		"x": 562.0997924804688,
		"y": 490.1000061035156,
		"wires": [["bb6eef87.9a641"], ["4cbbc0d8.589838"]]
	}, {
		"id": "4cbbc0d8.589838",
		"type": "watson-text-to-speech",
		"z": "3ba91f54.8baf28",
		"name": "",
		"lang": "en-US",
		"langhidden": "en-US",
		"langcustom": "NoCustomisationSetting",
		"langcustomhidden": "",
		"voice": "en-US_MichaelVoice",
		"voicehidden": "en-US_MichaelVoice",
		"format": "audio/wav",
		"password": "dM6TeAVZxhqH",
		"x": 808,
		"y": 518.9999694824219,
		"wires": [["c57e681d.65d898"]]
	}, {
		"id": "c9608ecc.2e6108",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "3720-DBRWL",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 306,
		"y": 319,
		"wires": [["ae1597f3.f9ab3"]]
	}, {
		"id": "797d632b.1e453c",
		"type": "inject",
		"z": "3ba91f54.8baf28",
		"name": "",
		"topic": "",
		"payload": "1480-IVEVR",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 305,
		"y": 360,
		"wires": [["ae1597f3.f9ab3"]]
	}, {
		"id": "b4aac9b0.a8f3f8",
		"type": "comment",
		"z": "3ba91f54.8baf28",
		"name": "Start Calls",
		"info": "",
		"x": 302.5,
		"y": 230.75,
		"wires": []
	}, {
		"id": "900e13a9.623f",
		"type": "dashDB",
		"z": "",
		"hostname": "awh-yp-small02.services.dal.bluemix.net",
		"db": "BLUDB",
		"port": "50000",
		"name": ""
	}
]
